:root{
    --clr-bg:white;
    --clr-text:black;
    --clr-second-bg:rgba(180, 180, 180, .5);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    position: relative;
    /* background-color: rgb(252, 252, 252); */
}
.login-wrapper{
   min-height:100vh; 
   position:realative;
}
.form{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.5);
    padding: 2em;
    width:22em; 
    position: absolute; 
    left: 0; 
    right: 0; 
    margin: auto;
    margin-top: 5em;
    border-radius: 5px;
}
.btn_login,
.btn_signup {
    width: 100%;
    margin-top: 1em;
}
.signup_link{
    text-align: end ;
    margin-top: .5em;
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.navbard{
    position: fixed; 
    background: rgb(54, 54, 54);
    left: 0; 
    top: 0;
    padding: 2em 1em;
    width: 20%;
    display: flex;
    min-height: 100vh;
    align-items: baseline;
    flex-direction: column;
    gap: 5em;
}
.navbard .a{
    font-weight: 800;
    text-align: center;
    padding: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
}
.nav-link-wrapper{
    display: flex;
    /* gap: 3em; */
    justify-content: start;
    /* align-items: start; */
    width:88%;
    flex-direction: column;
}


.nav-item{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
    /* background-color: aqua; */
    cursor: pointer;
}
.nav-item::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: rgb(27, 27, 27);
    bottom: 0;
}

.nav-item::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 0%;
    background-color: white;
    bottom: 0;
    z-index: 1;
    transition: .3s linear;
}
.nav-item:hover::before{
    width: 100%;
}
.nav-link{
    color: rgb(180, 180, 180);
    padding: 0;
    text-decoration: none;
    font-weight: 600;
    padding: 2em 0;
    width: 100%;
}

.nav-link:hover{
    color: rgb(255, 255, 255);
}

.form-text{
    color: rgb(255, 65, 65);
    font-size: 12px;
}
.loading{
    animation: loadinganim 3s linear infinite;
}
@keyframes loadinganim {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}
.post{
    margin: auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 1em 1em;
    border-radius: 5px;
    margin-bottom: 3em;
    background-color:  rgb(54, 54, 54);
}
.postarea{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: auto;
    margin-bottom: 1em;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: .5em;
    background-color:rgb(54, 54, 54);
}
.post textarea{
    height: 10em;
    padding: .5em .5em;
    margin-bottom: 1em;
    border-radius: 5px;
    outline: none;
    resize: none;
}
.postarea .textarea{
    resize: none;
    padding: .5em .5em;
    min-height: 10em;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0,.5) !important;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
}
.postarea p{
    font-size: 12px;
    text-align: end;
    color: white;
}
.info{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: .5em .5em .5em 0;
}
.delete{
    color: white;
    border:none;
    background: none;
}
.hometext{
    width: 100%;
    text-align: center;
    font-size: 40px;
    background: rgb(54, 54, 54);
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}