:root{
    --clr-bg:white;
    --clr-text:black;
    --clr-second-bg:rgba(180, 180, 180, .5);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.login-wrapper{
   min-height:100vh; 
   position:realative;
}
.form{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.5);
    padding: 2em;
    width:22em; 
    position: absolute; 
    left: 0; 
    right: 0; 
    margin: auto;
    margin-top: 5em;
    border-radius: 5px;
}
.btn_login,
.btn_signup {
    width: 100%;
    margin-top: 1em;
}
.signup_link{
    text-align: end ;
    margin-top: .5em;
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.nav{
    height: 80px;
    background-color: var(--clr-second-bg);
    justify-content: space-between;
    align-items: center;
    padding: 0 4em 0 4em;
}
.nav h1{
    margin-top: -10px;
    font-weight: 800;
    letter-spacing: 1px;

}
.nav-link-wrapper{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-item{
    margin: 0;
    display: flex;
    align-items: center;
    gap: .3em;
}
.nav-link{
    padding: 0;
    color: var(--clr-text);
    text-decoration: none;
}

.nav-link:hover{
    color: black;
}
.form-text{
    color: rgb(255, 65, 65);
    font-size: 12px;
}
.loading{
    animation: loadinganim 3s linear infinite;
}
@keyframes loadinganim {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}