:root{
    --clr-bg:white;
    --clr-text:black;
    --clr-second-bg:rgba(180, 180, 180, .5);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.login-wrapper{
   min-height:100vh; 
   position:realative;
}
.form{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.5);
    padding: 2em;
    width:22em; 
    position: absolute; 
    left: 0; 
    right: 0; 
    margin: auto;
    margin-top: 5em;
    border-radius: 5px;
}
.btn_login,
.btn_signup {
    width: 100%;
    margin-top: 1em;
}
.signup_link{
    text-align: end ;
    margin-top: .5em;
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.nav{
    height: 80px;
    background-color: var(--clr-second-bg);
    justify-content: space-between;
    align-items: center;
    padding: 0 4em 0 4em;
}
.nav .a{
    margin-top: -15px;
    font-weight: 800;
    letter-spacing: 1px;
    color: black;
    font-size: 30px;
    text-decoration: none;
}
.nav-link-wrapper{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.nav-item{
    margin: 0;
    display: flex;
    align-items: center;
    gap: .3em;
}
.nav-link{
    padding: 0;
    color: var(--clr-text);
    text-decoration: none;
}

.nav-link:hover{
    color: black;
}
.form-text{
    color: rgb(255, 65, 65);
    font-size: 12px;
}
.loading{
    animation: loadinganim 3s linear infinite;
}
@keyframes loadinganim {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}
.post{
    margin: auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: auto;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.5);
    padding: 1em 1em;
    border-radius: 5px;
    margin-bottom: 3em;
}
.postarea{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 22rem;
    min-height: 10em;
    margin-bottom: 1em;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: .5em;
    background-color: rgb(122, 172, 216);
    
}
.post textarea{
    min-height: 10em;
    padding: .5em .5em;
    margin-bottom: 1em;
    border-radius: 5px;
    outline: none;
}
.postarea .textarea{
    padding: .5em .5em;
    min-height: 5em;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0,.5) !important;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
}
.postarea p{
    font-size: 12px;
    text-align: end;
}
.info{
    display: flex;
    justify-content: space-between;
    padding: .5em .5em .5em 0;
}
.delete{
    border:none;
    background: none;
}